body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;} 
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

.header{position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    height: auto;
    background-color: bisque;
    /*background-image: linear-gradient(#e66465, #9198e5);*/
    text-align: center;
    padding:0px 0px 20px 0px;
}
.orderbtn{
    background-color: #f5a140;
    border-radius: 10px;
    font-size: 16px;
}
.orderbtn a{
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.orderbtn a:hover{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f67336;
    border-radius: 10px;
}

.text{
    width: auto;
    padding: 90px 100px;
    font-size: larger;
    line-height: 40px;
    color: #6c1717;
}
.text ul li{
    list-style: none;
}
.footer{position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100px;
    background-color: rgb(165, 238, 176);
    text-align: center;
}
input{
    margin:15px 0px 15px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    height: 30px;
}
input:focus {
    background-color: #ededed;
  }
#userbill{
    display: block;
}
#result{
    height: 30px;
    color: #1c313d;
}