body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;} 
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
.main{
    width: 500px;
    height: 200px;
    margin: 0px auto;
    padding: 50px 0px;
    font-size: larger;
    line-height: 40px;
    color: #6c1717;
    background-color: #dadada;
}

.attackbtn{
    background-color: #7bc3b0;
    border-radius: 10px;
    font-size: 16px;
}
.attackbtn a{
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.attackbtn a:hover{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #40b868;
    border-radius: 10px;
}


.retreatbtn{
    background-color: #5d8eea;
    border-radius: 10px;
    font-size: 16px;
}
.retreatbtn a{
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.retreatbtn a:hover{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #2c3286;
    border-radius: 10px;
}